@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
:root {
  --white: hsl(0, 0%, 100%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --very-dark-blue-card: hsl(216, 50%, 16%);
  --very-dark-blue-main: hsl(217, 54%, 11%);
  --cyan: hsl(178, 100%, 50%);
  --soft-blue: hsl(215, 51%, 70%);
  --font-size: 18px;
  --font-family: "Outfit", sans-serif;
  --mobile: 375px;
  --desktop: 1440px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

html {
  font-size: var(--font-size);
  font-family: var(--font-family);
}

body {
  min-width: var(--mobile);
  background-color: var(--very-dark-blue-main);
  min-height: 100vh;
  padding: 62px 16px;
}

.card {
  border-radius: 12px;
  background-color: var(--very-dark-blue-card);
  padding: 24px;
  width: 326px;
  margin: 0 auto;
}

.card__img {
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 24px;
}

.image__link {
  display: block;
  position: relative;
}

.hover__background {
  position: absolute;
  opacity: 0;
  background-color: var(--cyan);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.hover__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.image__link:hover .hover__background {
  opacity: 0.3;
}

.image__link:hover .hover__icon {
  opacity: 1;
}

.image__link:hover .hover__background,
.image__link:hover .hover__icon {
  transition: opacity 0.3s ease-out;
}

.card__body {
  color: var(--white);
}

.card__title {
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 0px;
  margin-bottom: 12px;
}

.card__title:hover {
  color: var(--cyan);
  cursor: pointer;
}

.card__text {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: var(--soft-blue);
}

.card__promo {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__promo__price {
  display: flex;
  align-items: center;
  color: var(--cyan);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.4px;
}

.icon--ethereum {
  margin-right: 6px;
}

.icon--time {
  margin-right: 8px;
}

.card__promo__time {
  display: flex;
  align-items: center;
  color: var(--soft-blue);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.4px;
}

.card__footer {
  border-top: 1px solid var(--soft-blue);
  margin-top: 18px;
}

.userinfo {
  padding-top: 14px;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.userinfo__avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 1px solid var(--white);
  margin-right: 14px;
}

.userinfo__name {
  color: var(--soft-blue);

  letter-spacing: -0.4px;
}

.userinfo__link {
  color: var(--white);
  padding-left: 2px;
}

.userinfo__link:hover {
  color: var(--cyan);
  cursor: pointer;
}

@media (min-width: 600px) {
  body {
    padding-top: 152px;
  }

  .card {
    width: 350px;
  }

  .card__title {
    margin-bottom: 16px;
  }

  .card__text {
    font-size: 18px;
    margin-bottom: 24px;
  }

  .card__promo__price,
  .card__promo__time {
    letter-spacing: 0.2px;
  }

  .card__footer {
    margin-top: 22px;
    padding-bottom: 8px;
  }

  .userinfo {
    padding-top: 16px;
  }

  .userinfo__name {
    font-size: 18px;
    letter-spacing: -0.9px;
  }
}
